.Footer {
    display: flex;
    background: #376a81;
    height: 100px;
    bottom: 0;
}

.FooterData {
    display: flex;
    width: 100%;
    flex-direction: row;
    background: none;
    text-align: center;
}

.FooterData .list-group-item {
    background: #376a81;
    color: #ffffff;
}

.FooterData .list-group-item a{
    color: #ffffff;
}

@media(max-width: 500px) {
    .Footer {
        display: flex;
        background: #376a81;
        height: auto;
        bottom: 0;
    }
}
