.Home {
  position: relative;
  color: #535ab6;
}

.Product-carousel img {
  height: 600px;
}

.Product-slider-title {
  background: #137de0;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 1.5rem 0;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
}

.Product-slider {
  display: inline-flex;
  background: #137de0;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  align-items: center;
  margin: 0 0;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
}

.Product-slider a {
  text-decoration: none;
  color: #fff;
}

.Product-slider a:hover {
  text-decoration: none;
  color: #d2d3d3;
}

.Product-slider img {
  height: 50%;
  margin-bottom: 1rem;
  width: 70%;
}

.Product-slider p {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  .Product-slider {
    height: 400px;
  }
}

.banner {
  height: 400px;
  width: 100vw;
}

.shop-slogan {
  display: flex;
  justify-content: space-around;
  background-color: rgb(53, 53, 53);
  color: #ffffff;
  text-align: center;
  padding: 0.5rem 0;
}

@media (max-width: 760px) {
  .Product-promotion {
    display: none;
  }
}

@media (max-width: 600px) {
  .Product-slider {
    overflow: scroll;
  }
  .shop-slogan {
    display: none;
  }
}
