.cart {
  position: relative;
  display: inline;
}

.cart p {
  position: absolute;
  color: red;
  z-index: 20;
  top: -2px;
  left: 20px;
  font-weight: bold;
  text-align: center;
}

.nav-links a {
  font-size: 1.1rem;
  text-decoration: none;
  padding: 7px;
  transition-duration: 500ms;
}

.nav-links a:hover {
  font-size: 1.1rem;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #137de0;
  transition-duration: 300ms;
  text-decoration: none;
}

.nav-links a:focus {
  outline: none;
}

#logo {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  transition-duration: 200ms;
}

#logo a {
  text-decoration: none;
  color: #fff;
}

#logo a:focus {
  outline: none;
}

#logo:hover .logo-b {
  color: #137de0;
  transition-duration: 200ms;
}
