.orders {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
}

.orders-id {
    display: flex;
}

.order-details {
    margin-top: 1rem;
}

.order-details table {
    width: 80%;
    margin-left: 1rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 2px 8px 10px -6px rgba(0,0,0,0.44);
    -moz-box-shadow: 2px 8px 10px -6px rgba(0,0,0,0.44);
    box-shadow: 2px 8px 10px -6px rgba(0,0,0,0.44);
}

.order-details table tr {
     border-bottom: solid 1px #575757;
    padding: 0.3rem 0.5rem;
}

.order-details table td {
    padding: 0.3rem 0.5rem;
}

.order-details table td img{
    width: 150px;

}