.categories {
  background: #137de0;
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: -8px 4px 13px 0px rgba(153,153,153,1);
  -moz-box-shadow: -8px 4px 13px 0px rgba(153,153,153,1);
  box-shadow: -8px 4px 13px 0px rgba(153,153,153,1);
  margin-bottom: 1rem;
}

.categories h1 {
 font-weight: bold;
 border-bottom: 1px solid #f1f3f5;
 cursor: default;
}


.categories label {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 550;
  transition-duration: 200ms;
  cursor: pointer;
}

.categories input[type="radio"]:checked+label {
  color: #f1f3f5;
}

.categories label:hover {
 color: #f1f3f5;
 font-style: oblique;
 transition-duration: 200ms;
}

.main {
  min-height: 100%;
}

.products-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}