.main-container {
min-height: 100%;
}

.cart-container {
 background: #edf2f7;
 padding: 0.5rem;
 margin-top: 1rem;
 -webkit-box-shadow: -1px 7px 16px 1px rgba(59,59,59,1);
 -moz-box-shadow: -1px 7px 16px 1px rgba(59,59,59,1);
 box-shadow: -1px 7px 16px 1px rgba(59,59,59,1);
 border-radius: 15px;
}

.products {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #a1b5c0e5;
  margin-bottom: 10px;
}

.products img {
  width: 100px;
  margin: 0 5px;
}

.product-img {
  display: inline-flex;
  width: 50%;
  margin: 5px;
}

.product-details {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}

.product-amount{
  margin-left: 1rem;
  margin-right: 3rem;
  display: flex;
  justify-content: space-around;
}

.product-amount input {
  width: 40%;
}

#title {
  font-weight: bold;
  border-bottom: 2px solid #137de0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-style: italic;
}

#title span {
  color: #137de0;
}