.products {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #a1b5c0e5;
  margin-bottom: 10px;
}

.products img {
  width: 100px;
  margin: 0 5px;
}

.product-img {
  display: inline-flex;
  width: 50%;
  margin: 5px;
}

.product-details {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  align-items: center;
}
