.product-header {
    display: flex;
    justify-content: space-between;
}

.product-add {
    display: flex;
    justify-content: center;
}

.product-image img {
    height: 300px;
    cursor: pointer;
}

.product-images {
    display: flex;
    max-height: 120px;
    margin-top: 0.7em;
}

.product-images img{
    max-width: 141px;
    margin-right: 0.3em;
    cursor: pointer;
}

.modal-product-images img {
    cursor: pointer;
}
